a {
    font-weight:bold;
    text-decoration:none;
    color:#514D51;
}

a:hover {
    color:#FFFFFF;
}

.ace {
    background: url(grafa/input.jpg) repeat;
    background-color: #A8ACB0;
    border-color: #2D2D2D;
    border-style: solid;
    border-width: 1;
    color: black;
    font-size: 8pt;
    font-family: verdana;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
}


.button {
    background: url("") repeat;
    background-color: #787880;
    border-color: #2D2D2D;
    border-style: solid;
    border-width: 1;
    color: #D2D5D7;
    font-size: 7pt;
    font-family: verdana;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 17px;
    LETTER-SPACING: 0px
}

HR {
	COLOR: #585860; HEIGHT: 1px
}

.plakaty {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    max-width: 600px;
}

.plakaty img {
    max-width: 250px;
}

.cell-color {
    background-color: #B0ACB0;
}

tbody td .content {
    padding: 5px;
    font-family: Verdana;
    font-size: 10px;
    background-color: #CCCCCC;
    vertical-align: top;
}

td .header {
    font-family: Verdana;
    font-size: 10px;
    background-color: #B0ACB0;
    height: 20;
    width: 100%;
}

table.frame {
    border: 3px double #000000;
    width: 100%;
    border-spacing: 1px;
    margin-bottom: 1em;
}

.quote {
    font-family: Verdana;
    font-size: 10px;
    color: #404048;
    background-color: #B0ACB0;
    vertical-align: middle;
    border-top: 3px double #000000;
    border-bottom: 3px double #000000;
    height: 40px;
}

.today-is {
    width: 398px;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
    border-bottom: 3px double #000000;
    background-color: #999999;
}

.copyright {
    width: 800px;
    height: 26px;
    background-color: #CCCCCC;
    font-family: Verdana;
    font-size: 10px;
    border-top: 1px solid #000000;
    text-align: center;
}

img.galery-icon {
    border: 0px;
    height: 15px;
    content:url("obrazki/gify/p1.gif");
}

ol.ogloszenia {
    padding-inline-start: 20px;
    padding-right: 10px;
    font-weight: 700;
}

ol.ogloszenia li {
    margin-bottom: 10px;
    font-weight: 700;
}

.aktualnosci-header {
    margin-block-end: .5em;
}

.aktualnosc-title {
    color: red;
}

.aktualnosc-content {
    margin-block-start: .5em;
    margin-bottom: 1.5em;
}

.yt-video {
    margin-bottom: 1.5em;
}

ul.dom-atrakcje {
    padding-inline-start: 2em;
}

ul.dom-atrakcje li {
    margin-bottom: .5em;
}

.pielgrzymi-info {
    color: blue;
    font-weight: 700;
    text-align: center;
}

.glotovia {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rekolekcje-header {
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-size: 13px;
}
.rekolekcje-entry {
    margin-block-end: .5em;
    font-size: 13px;
    font-weight: 700;
}

.rekolekcje-title {
    color: red;
    font-weight: 700;
    font-size: 13px;
}

.rrk-naglowek, .rrk-wpis {
    font-weight: 700;
}

.rrk-wpis {
    margin-bottom: 2em;
}

.rrk-naglowek span {
    color: red;
}

.download-file {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px 10px;
}

.download-file:hover {
    background-color: #B0ACB0;
}

.reg-lista {
    padding-inline-start: 2em;
}

.reg-lista li {
    margin-bottom: 0.5em;
}

.rozdzial {
    font-weight: 700;
}