body {
    background-color: #404048;
}

.header {
    width: 100%;
}

.header h1 {
    text-align: center;
}

.gallery {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    max-width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
    transition: .2s;
    cursor: pointer;
    display: block;
}


.gallery img:hover {
    transition: .2s;
    filter: brightness(0.5);
}

.fullscreen-image-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.inside-wrapper {
    /* display: inline-block; */
    position: relative;
    width: 50%;
    margin: 20px auto;
}

.inside-wrapper p {
    justify-content: center;
}

.inside-wrapper p:hover {
    color: blue;
    cursor: pointer;
}

.wrapper-hidden {
    overflow: hidden !important;
    display: none !important;
}

@media only screen and (max-width: 700px) {
    .gallery {
        width: 100%;
    }

    .gallery img {
        max-width: 150px;
        max-height: 100px;
    }
}
